fastapi
uvicorn[standard]
pandas
numpy
yfinance
pandas_datareader
tensorflow
scikit-learn
joblib
python-multipart
matplotlib
pydantic
pydantic-settings
google-generativeai
SQLAlchemy
psycopg2-binary
passlib
python-jose[cryptography]
email-validator
requests
alembic